body {
  font-family: 'Oswald', sans-serif;
  /* background: url('./images/milky-way.jpg');  */
  background-color: antiquewhite;
}

.blog {
  margin-left: 12vw;
  margin-top: 2vw;
}

.bmargin {
  margin-bottom: 2vw;
}

.breadcrumb {
  border-radius: 0;
  margin-bottom: 0;
}

.btn {
  width: 150px;
  height: 50px;
}

.cover {
  width: 150px;
  height: 225px;
}

.footer-center {
  color: white;
  font-weight: bold;
  text-align: center;
}

.footer-contrast {
  color: black;
  font-weight: bold;
  text-align: center;
}

.address-center {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

h3 {
  color: white;
  font-family: 'Patua One', cursive;
}

h4 {
  color: black;
  font-family: 'Passion One', cursive;
}

h5 {
  color: white;
}


li {
  display: inline-block;
}

.lmargin {
  margin-left: 2vw;
}

.navbar-header > .logo {
  height: 50px;
  width: 150px;
  margin-top: 0;
  padding-top: 0;
  top: 0;

}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.nomargin {
  margin-bottom: 0;
}

ol {
  margin-bottom: 0;
}

.panel > .panel-info {
    background-image: none;
    background-color: #20315A; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;  
}


.rectangle {
  width: 300px;
  height: 150px;
}

.rectangleAward {
  margin-top: 1vw;
  width: 175px;
  height: 90px;
}

.rectanglesm {
  width: 200px;
  height: 175px;
  margin-top: 1vw;
}

.reviews {
  color: midnightblue;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  line-height: 1.0;
}

.spacing {
  margin-left: 28vw;
  margin-right: 16vw;
}

.spacing2 {
  margin-left: 37vw;
  margin-right: 12vw;
}

.square {
  width: 150px;
  height: 150px;
}

.square1 {
  padding-top: 25px;
  width: 150px;
  height: 200px;
}

.titles {
  text-align: center;
}

.youtube {
  background-color: antiquewhite;
    width: 14vw;
    padding: 0;
    margin-left: 5vw;
}
