body {
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Passion One', cursive; */

  /* font-family: 'Righteous', cursive; */
  background: url('./images/milky-way.jpg'); 
}

.cover {
  width: 150px;
  height: 225px;
}

.footer-center {
  color: white;
  font-weight: bold;
  text-align: center;
}

.address-center {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

h3 {
  color: white;
  font-family: 'Patua One', cursive;
}

li {
  display: inline-block;
}

.navbar-header > .logo {
  height: 50px;
  width: 150px;
  margin-top: 0;
  padding-top: 0;
  top: 0;

}

.navbar {
  border-radius: 0;
}

.panel > .panel-info {
    background-image: none;
    background-color: #20315A; 
    color: white;
    font-weight: bold;
    text-align: center;
}

.rectangle {
  width: 300px;
  height: 150px;
}

.spacing {
  margin-left: 28vw;
  margin-right: 16vw;
}

.spacing2 {
  margin-left: 37vw;
  margin-right: 12vw;
}

.square {
  width: 150px;
  height: 150px;
}

.square1 {
  padding-top: 25px;
  width: 150px;
  height: 175px;
}

