body {
  font-family: 'Oswald', sans-serif;
  background: url('./images/milky-way.jpg'); 
}

.cover {
  width: 150px;
  height: 225px;
}

.footer-center {
  color: white;
  font-weight: bold;
  text-align: center;
}

li {
  display: inline-block;
}

.navbar-header > .logo {
  height: 50px;
  width: 150px;
  margin-top: 0;
  padding-top: 0;
  top: 0;

}

.navbar {
  border-radius: 0;
}

.panel > .panel-info {
    background-image: none;
    background-color: #20315A; 
    color: white;
    font-weight: bold;
    text-align: center;
}

.spacing {
  margin-left: 28vw;
  margin-right: 16vw;
}
